html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body,
html {
  height: 100%;
  display: grid; }

body {
  font-family: 'Chivo', sans-serif;
  height: 100vh; }

.site {
  width: 37.5rem;
  margin: auto;
  background-image: linear-gradient(rgba(18, 23, 38, 0.9), rgba(18, 23, 38, 0.9)), url(/assets/mobile/image-host.jpg); }

.header {
  margin: 6.2rem 0 5.7rem; }
  .header__logo {
    display: block;
    margin: 0 auto; }

.article {
  margin: 0 2.4rem; }
  .article h1 {
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 3.8rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.6rem; }
  .article .card__heading--emphasis {
    display: inline-block;
    color: #56e6af; }
  .article .card__description {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    text-align: center;
    color: #c2cbe5;
    margin-bottom: 3.3rem; }

.podcasts-group {
  padding: 0;
  margin-bottom: 4.8rem;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center; }
  .podcasts-group .podcasts li {
    align-self: center; }
  .podcasts-group .podcast img {
    width: 85%; }

.form {
  margin-bottom: 9.4rem;
  margin: 0 2.4rem 9.4rem; }
  .form input,
  .form button {
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 2.8rem;
    font-size: 1.4rem;
    line-height: 2.8rem; }
  .form input {
    margin-bottom: 1.6rem;
    background-color: #2b334a;
    outline: none;
    border-color: transparent;
    padding: 0.9rem 0 0.9rem 3.2rem;
    color: white; }
  .form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white; }
  .form ::-moz-placeholder {
    /* Firefox 19+ */
    color: white; }
  .form :-ms-input-placeholder {
    /* IE 10+ */
    color: white; }
  .form :-moz-placeholder {
    /* Firefox 18- */
    color: white; }
  .form button {
    background-color: #56e6af;
    outline: none;
    font-family: 'Chivo', sans-serif;
    color: #121726;
    text-align: center;
    text-decoration: none;
    padding: 0.9rem 0 0.9rem 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: background 250ms ease-in-out, transform 150ms ease; }
  .form button:hover,
  .form button:focus {
    background: #b3ffe2; }
  .form button:focus {
    outline: 1px solid white;
    outline-offset: -4px; }
  .form button:active {
    transform: scale(0.99); }

footer {
  display: none; }

@media (min-width: 768px) {
  .site {
    width: 76.8rem;
    background-image: url(/assets/tablet/image-host.jpg);
    background-color: #121726;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 27rem 0;
    display: grid;
    grid-template-columns: 0.5fr 1fr 9.4rem;
    grid-template-rows: auto;
    grid-template-areas: 'header . .' 'article article .' 'form form .' 'podcasts-group podcasts-group .' 'footer footer footer'; }
  .header {
    margin: 0;
    grid-area: header; }
    .header__logo {
      margin: 5rem 10.315rem 15.2rem 3.9rem; }
  .article {
    padding-top: 9.3rem;
    margin: 0;
    background-color: #121726;
    grid-area: article; }
    .article h1 {
      font-size: 4.8rem;
      line-height: 5.6rem;
      text-align: left;
      margin-bottom: 3.1rem;
      padding-left: 3.9rem; }
    .article .card__description {
      font-size: 1.8rem;
      line-height: 2.8rem;
      text-align: left;
      margin-bottom: 4rem;
      padding-left: 3.9rem;
      padding-right: 19rem; }
  .podcasts-group {
    margin: 0;
    background-color: #121726;
    padding: 4rem 0 0 3.9rem;
    grid-area: podcasts-group;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 1rem; }
    .podcasts-group li {
      flex-basis: 18%;
      align-self: center; }
  .form {
    margin: 0;
    padding-left: 3.9rem;
    background-color: #121726;
    height: 5.6rem;
    grid-area: form;
    position: relative; }
    .form input {
      width: 42.8rem;
      padding: 1.4rem 0 1.4rem 3.2rem;
      position: absolute; }
    .form button {
      position: absolute;
      width: 16.2rem;
      height: 4.6rem;
      left: 44.5%;
      top: 0.5rem; }
  footer {
    display: block;
    width: 100%;
    height: 25rem;
    background: url(/assets/desktop/bg-pattern-dots.svg);
    background-color: #121726;
    background-repeat: no-repeat;
    background-position: 3rem bottom;
    grid-area: footer; } }
