$color-white: hsl(0, 0, 100%);
$color-steel-blue-light: hsl(225, 40%, 83%);
$color-steel-blue-dark: hsl(225, 21%, 45%);
$color-violet-blue: hsl(225, 26%, 23%);
$color-navy-blue-dark: hsl(225, 36%, 11%);
$color-medium-aquamarine: hsl(157, 74%, 62%);
$color-hover: hsl(157, 100%, 85%);

$error: hsla(0, 96%, 61%, 1);

$default-font-size: 1.8rem;
